body {
  margin: 0;
  padding: 0;
  font-family:"Poppins",sans-serif;
  letter-spacing:0.9px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link {
  text-decoration: none;
  color: white; 
}

.custom-loader {
  width:50px;
  height:50px;
  border-radius:50%;
  padding:1px;
  background:conic-gradient(#0000 10%,#2196f3) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
    radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 calc(100% - 8px));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation:s4 1s infinite steps(10);
}
@keyframes s4 {to{transform: rotate(1turn)}}


div#google_translate_element #goog-te-combo {
  color: red; /* Replace 'red' with your desired color */
}
div#google_translate_element div.goog-te-gadget-simple {
  font-size: small;
}

div#google_translate_element div.goog-te-gadget-simple {
  background-color: #2196f3;
  color: whitesmoke;
  padding: 4;
}

div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span {
  color: whitesmoke
}

div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span:hover {
  color: whitesmoke
}

div#google_translate_element div.goog-te-gadget-simple {
  border: none;
  color: white;
}